In [ ]:
print("Hello Virus!")

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import datetime

In [ ]:
# REFERENCE CODE

In [ ]:
# Store CSVs in dataframes
dataset_1 = ("Data/2019_nCoV_data.csv")

nCoV_df = pd.read_csv(dataset_1)
nCoV_df.head()

In [ ]:
# pandas drop columns using list of column names
nCoV_df = nCoV_df.drop(['Sno', 'Province/State', 'Last Update'], axis=1)
nCoV_df.head()

In [ ]:
# Either transform the data, or create new dataframes with only selected columns

# Transform:
#new_premise_file_df = premise_file_df[["Premises Name", "County ID Code"]].copy()
#new_premise_file_df.columns = ["premise_name", "county_id"]
#new_premise_file_df.head()


# Create new df with select columns:
#new_customer_data_df = customer_data_df[['id', 'first_name', 'last_name']].copy()
#new_customer_data_df.head()

In [ ]:
# For BERNT:
# How to rename columns 
#new_premise_file_df.columns = ["premise_name", "county_id"]

In [ ]:
# Connect to database

rds_connection_string = "postgres:postgres@localhost:5432/<name_of_database>_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# Check for tables

engine.table_names()

In [ ]:
# Use pandas to load CSV into SQL database

#new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

In [ ]:
# Use PGAdmin to verify that data loaded.

# Alternatively, try:
#pd.read_sql_query('select * from customer_name', con=engine).head()

In [ ]:
# REFERENCE CODE ENDS

In [ ]:
# KAAN Code Starts

In [ ]:
# KAAN Code Ends

In [ ]:
# BERNT Code Starts

In [2]:
# Load in df's
dataset_1 = ("Data/covid_19_data.csv")

nCoV_df = pd.read_csv(dataset_1, parse_dates = ["ObservationDate"])
nCoV_df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [3]:
# pandas drop columns using list of column names
nCoV_df = nCoV_df.drop(['SNo', 'Province/State', 'Last Update'], axis=1)
nCoV_df.head()

  ObservationDate  Country/Region  Confirmed  Deaths  Recovered
0      2020-01-22  Mainland China        1.0     0.0        0.0
1      2020-01-22  Mainland China       14.0     0.0        0.0
2      2020-01-22  Mainland China        6.0     0.0        0.0
3      2020-01-22  Mainland China        1.0     0.0        0.0
4      2020-01-22  Mainland China        0.0     0.0        0.0

In [4]:
# rename columns 
nCoV_df.columns = ["Date", "Country", "Confirmed_Cases", "Deaths", "Recoveries"]
nCoV_df

           Date         Country  Confirmed_Cases  Deaths  Recoveries
0    2020-01-22  Mainland China              1.0     0.0         0.0
1    2020-01-22  Mainland China             14.0     0.0         0.0
2    2020-01-22  Mainland China              6.0     0.0         0.0
3    2020-01-22  Mainland China              1.0     0.0         0.0
4    2020-01-22  Mainland China              0.0     0.0         0.0
...         ...             ...              ...     ...         ...
3079 2020-03-02              US              1.0     0.0         0.0
3080 2020-03-02       Australia              0.0     0.0         0.0
3081 2020-03-02              US              0.0     0.0         0.0
3082 2020-03-02              US              0.0     0.0         0.0
3083 2020-03-02              US              0.0     0.0         0.0

[3084 rows x 5 columns]

In [30]:
# Here we are counting what day the incident occurred - based on the first entry recorded by country.
# We discussed this, as we were very interested in trying to figure out how to bin the data.
# We realized that that was getting into data analysis, and decided to leave more granular data 
# available for our database. That way any future analyst could decide for themselves what they'd 
# like to do with it. 

nCoV_df['Day #'] = (nCoV_df['Date'] - min(nCoV_df['Date'])).dt.days + 1
#nCoV_df.iloc[2000]
nCoV_df

,Date,Country,Confirmed_Cases,Deaths,Recoveries,Day #,Virus_Name,Year,Month,Day
0,2020-01-22,China,1.0,0.0,0.0,1,Covid19,2020,1,22
1,2020-01-22,China,14.0,0.0,0.0,1,Covid19,2020,1,22
2,2020-01-22,China,6.0,0.0,0.0,1,Covid19,2020,1,22
3,2020-01-22,China,1.0,0.0,0.0,1,Covid19,2020,1,22
4,2020-01-22,China,0.0,0.0,0.0,1,Covid19,2020,1,22
...,...,...,...,...,...,...,...,...,...,...
3079,2020-03-02,United States,1.0,0.0,0.0,41,Covid19,2020,3,2
3080,2020-03-02,Australia,0.0,0.0,0.0,41,Covid19,2020,3,2
3081,2020-03-02,United States,0.0,0.0,0.0,41,Covid19,2020,3,2
3082,2020-03-02,United States,0.0,0.0,0.0,41,Covid19,2020,3,2
3083,2020-03-02,United States,0.0,0.0,0.0,41,Covid19,2020,3,2

In [10]:
nCoV_df['Virus_Name'] = 'Covid19'
nCoV_df.tail()

,Date,Country,Confirmed_Cases,Deaths,Recoveries,Day #,Virus_Name
3079,2020-03-02,US,1.0,0.0,0.0,41,Covid19
3080,2020-03-02,Australia,0.0,0.0,0.0,41,Covid19
3081,2020-03-02,US,0.0,0.0,0.0,41,Covid19
3082,2020-03-02,US,0.0,0.0,0.0,41,Covid19
3083,2020-03-02,US,0.0,0.0,0.0,41,Covid19

In [11]:
nCoV_df['Year'] = pd.DatetimeIndex(nCoV_df['Date']).year
nCoV_df['Month'] = pd.DatetimeIndex(nCoV_df['Date']).month
nCoV_df['Day'] = pd.DatetimeIndex(nCoV_df['Date']).day

nCoV_df

,Date,Country,Confirmed_Cases,Deaths,Recoveries,Day #,Virus_Name,Year,Month,Day
0,2020-01-22,Mainland China,1.0,0.0,0.0,1,Covid19,2020,1,22
1,2020-01-22,Mainland China,14.0,0.0,0.0,1,Covid19,2020,1,22
2,2020-01-22,Mainland China,6.0,0.0,0.0,1,Covid19,2020,1,22
3,2020-01-22,Mainland China,1.0,0.0,0.0,1,Covid19,2020,1,22
4,2020-01-22,Mainland China,0.0,0.0,0.0,1,Covid19,2020,1,22
...,...,...,...,...,...,...,...,...,...,...
3079,2020-03-02,US,1.0,0.0,0.0,41,Covid19,2020,3,2
3080,2020-03-02,Australia,0.0,0.0,0.0,41,Covid19,2020,3,2
3081,2020-03-02,US,0.0,0.0,0.0,41,Covid19,2020,3,2
3082,2020-03-02,US,0.0,0.0,0.0,41,Covid19,2020,3,2
3083,2020-03-02,US,0.0,0.0,0.0,41,Covid19,2020,3,2

In [12]:
nCoV_df["Country"].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'Singapore', 'Philippines', 'Malaysia',
       'Vietnam', 'Australia', 'Mexico', 'Brazil', 'Colombia', 'France',
       'Nepal', 'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast',
       'Germany', 'Finland', 'United Arab Emirates', 'India', 'Italy',
       'UK', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt',
       'Iran', 'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan',
       'Bahrain', 'Kuwait', 'Austria', 'Algeria', 'Croatia',
       'Switzerland', 'Pakistan', 'Georgia', 'Greece', 'North Macedonia',
       'Norway', 'Romania', 'Denmark', 'Estonia', 'Netherlands',
       'San Marino', ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania',
       'New Zealand', 'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic',
       'Armenia', 'Dominican Republic', 'Indonesia', 'Portugal',
       'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia', 'Senegal'],
      dtype=object)

In [13]:
nCoV_df = nCoV_df.replace(to_replace ="Mainland China", 
                 value ="China") 
nCoV_df = nCoV_df.replace(to_replace ="Macau", 
                 value ="Macao") 
nCoV_df = nCoV_df.replace(to_replace ="UK", 
                 value ="United Kingdom")
nCoV_df = nCoV_df.replace(to_replace = "US", 
                value = "United States")

#nCoV_df.head()

nCoV_df["Country"].sort_values(ascending=True).unique()

array([' Azerbaijan', 'Afghanistan', 'Algeria', 'Andorra', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Belarus',
       'Belgium', 'Brazil', 'Cambodia', 'Canada', 'China', 'Colombia',
       'Croatia', 'Czech Republic', 'Denmark', 'Dominican Republic',
       'Ecuador', 'Egypt', 'Estonia', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Hong Kong', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast',
       'Japan', 'Kuwait', 'Latvia', 'Lebanon', 'Lithuania', 'Luxembourg',
       'Macao', 'Malaysia', 'Mexico', 'Monaco', 'Morocco', 'Nepal',
       'Netherlands', 'New Zealand', 'Nigeria', 'North Ireland',
       'North Macedonia', 'Norway', 'Oman', 'Others', 'Pakistan',
       'Philippines', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'San Marino', 'Saudi Arabia', 'Senegal', 'Singapore',
       'South Korea', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland',
       'Taiwan', 'Thailand', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Vietnam'], dtype=object)

In [32]:
# Group the data by Country/column type
test = nCoV_df.groupby(['Country', 'Day #', 'Virus_Name'])['Confirmed_Cases', 'Deaths', 'Recoveries'].sum()
#test.loc['Italy']
test

                              Confirmed_Cases  Deaths  Recoveries
Country     Day # Virus_Name
 Azerbaijan 38    Covid19                 1.0     0.0         0.0
Afghanistan 34    Covid19                 1.0     0.0         0.0
            35    Covid19                 1.0     0.0         0.0
            36    Covid19                 1.0     0.0         0.0
            37    Covid19                 1.0     0.0         0.0
...                                       ...     ...         ...
Vietnam     37    Covid19                16.0     0.0        16.0
            38    Covid19                16.0     0.0        16.0
            39    Covid19                16.0     0.0        16.0
            40    Covid19                16.0     0.0        16.0
            41    Covid19                16.0     0.0        16.0

[1297 rows x 3 columns]

In [ ]:
# Connect to database

rds_connection_string = "postgres:postgres@localhost:5432/<name_of_database>_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# Check for tables

engine.table_names()

In [ ]:
# Use pandas to load CSV into SQL database

new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

In [ ]:
# Use PGAdmin to verify that data loaded.

# Alternatively, try:
#pd.read_sql_query('select * from customer_name', con=engine).head()

In [ ]:
# Extraneous Code

# Extract numeric values for just Month and Year
#nCoV_df['Year_Month'] = pd.to_datetime(nCoV_df['Date']).dt.to_period('M')
#nCoV_df.tail()

#test['Minimum_Month'] = min(nCoV_df["Year_Month"])
#test


#nCoV_df['Bins'] = pd.cut(x=nCoV_df['Day #'], bins=[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
                         #labels=['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6',
                                 #'Week 7', 'Week 8', 'Week 9', 'Week 10'])
#nCoV_df

#df_ages['age_by_decade'] = pd.cut(x=df_ages['age'], bins=[20, 29, 39, 49], labels=['20s', '30s', '40s'])

In [ ]:
# BERNT Code Ends